.authContainer {
  max-width: 500px;
  margin: 2rem auto;
  background-color: #2e2d3d;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #444;
  color: #fff;
}

.authContainer h1 {
  color: #ffcc00;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
